
.content{
    position: absolute;
    left: 250px;
    top: 10px;
    right: 0;
}
.menu{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
}

.select {
    width: 100%;
}

.mask{
    position: absolute;
    left: 0;
    right: 0;
    z-index: 100;
}
